<div id="footer">
  <div id="subscribe">
      <h3>Subscribe For Future Projects Updates!</h3>
      <input type="email" placeholder="Enter your email">
      <button>Subscribe</button>
  </div>
  <div id="social">
      <a href="/github" >Github</a>
      <a href="/youtube" >Youtube</a>
      <a href="/linkedin" >Linkedin</a>
  </div>
  <p id="love">Made with ❤️ by Mohnish, in India.</p>
  <p id="copyright">&copy; <%=new Date().getFullYear()%> MohnishSingh. All rights reserved.</p>
</div>

</body>
</html>